@page "/druzyny/{id}"
@using Services
@using Models
@inject IDruzynyService druzynyService
@inject ITurniejeService turniejeService
@inject NavigationManager navManager

<PageTitle>@id</PageTitle>
<h3>@team.Nazwa [@team.IdDruzyny] - Drużyna @team.Liga <button class="btn btn-primary oi oi-pencil" @onclick="(() => ShowEditTeam(id))"></button></h3>

<div class="image">
    <img src="@team.ZdjecieZawodnikow">
</div>

<div class="table">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>NICK</th>
                <th>IMIE I NAZWISKO</th>
                <th>KRAJ</th>
                <th>ROLA</th>
            </tr>
            </thead>
            <tbody>
                @foreach (var member in members)
                {
                    <tr>
                        <td>@member.Nick</td>
                        <td>@member.ImieINazwisko</td>
                        <td>@member.Kraj</td>
                        <td>@member.Rola</td>
                    </tr>
                }
                    
            </tbody>
        </table>
</div>

<button class="btn btn-primary" @onclick="(() => ShowAddTournament(team.IdDruzyny))">Dodaj turniej</button>
<br />
<br />

@if (team.Turniejes.Count() > 0)
{
    <h5><strong>Turnieje:</strong></h5>
    <div class="table">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Rodzaj</th>
                    <th>Data</th>
                    <th>Zajęte miejsce</th>
                    <th>Ostatni wynik</th>
                    <th>Nagroda</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var tournament in team.Turniejes)
                {
                    <tr>
                        <td>@tournament.NazwaTurnieju</td>
                        <td>@tournament.Rodzaj</td>
                        <td>@tournament.Data.ToShortDateString()</td>
                        <td>@tournament.ZajeteMiejsce</td>
                        <td>@tournament.OstatniWynik</td>
                        @if (tournament.Nagroda == null)
                        {
                            <td>@tournament.Nagroda</td>
                        }
                        else
                        {
                            <td>@Math.Round((decimal)tournament.Nagroda, 2)</td>
                        }
                        <td>
                            <button class="btn btn-primary oi oi-pencil" @onclick="(() => ShowEditTournament(tournament.NazwaTurnieju, team.IdDruzyny))"></button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@code {
    [Parameter]
    public string id { get; set; }
    Druzyny team = new();
    List<GraczeZawodowi> members = new();

    protected override void OnInitialized()
    {
        team = druzynyService.GetById(id);
        members = druzynyService.GetMembers(id);
        base.OnInitialized();
    }

    private void ShowEditTeam(string id)
    {
        navManager.NavigateTo($"/druzyny/{id}/edytuj");
    }

    private void ShowAddTournament(string id)
    {
        navManager.NavigateTo($"/turnieje/dodaj/{id}");
    }

    private void ShowEditTournament(string name, string id)
    {
        navManager.NavigateTo($"/turnieje/{name}/{id}/edytuj");
    }
}
