@page "/graczezawodowi/{nick}"
@using Services
@using Models
@inject IGraczeZawodowiService proService
@inject IBohaterowieService bohaterowieService
@inject NavigationManager navManager

<PageTitle>@pro.Nick</PageTitle>
<h3>@pro.ImieINazwisko - @pro.Nick <button class="btn btn-primary oi oi-pencil" @onclick="(() => ShowEditPro(nick))"></button></h3>


<div class="table" >
    <table class="table">
        <tbody>
            <tr>
                <td align="center" valign="middle">
                    <img src="@pro.Zdjecie">
                </td>
                <td>
                    <table class="table table-striped">
                        <thead>
                        </thead>
                        <tbody>
                            <tr>
                                <td><strong>Imię i nazwisko</strong></td>
                                <td>@pro.ImieINazwisko</td>
                            </tr>
                            <tr>
                                <td><strong>Nick</strong></td>
                                <td>@pro.Nick</td>
                            </tr>
                            <tr>
                                <td><strong>Kraj pochodzenia</strong></td>
                                <td>@pro.Kraj</td>
                            </tr>
                            <tr>
                                <td><strong>Data urodzenia</strong></td>
                                <td>@pro.DataUrodzin.ToShortDateString()</td>
                            </tr>
                            <tr>
                                <td><strong>Rezydencja</strong></td>
                                <td>@pro.Rezydencja</td>
                            </tr>
                            <tr>
                                <td><strong>Drużyna</strong></td>
                                <td>@pro.IdDruzyny</td>
                            </tr>
                            <tr>
                                <td><strong>Rola</strong></td>
                                <td>@pro.Rola</td>
                            </tr>
                            <tr>
                                <td><strong>Ulubiona postać</strong></td>
                                <td>@pro.UlubionyBohater</td>
                            </tr>
                            <tr>
                                <td><strong>Procent wygranych</strong></td>
                                <td>@Math.Round(decimal.Parse(wr))%</td>
                            </tr>
                            <tr>
                                <td><strong>KDA</strong></td>
                                <td>@avgKda</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    
</div>

<br />
<button class="btn btn-primary" @onclick="(() => ShowAddGame())">Dodaj grę</button>
<br />
<br />

@if (pro.GryIdMeczus.Count() > 0)
{
    <h5><strong>Gry:</strong></h5>

    <div class="table">
        <table class="table table-striped">
            <thead>
                <tr>
                    @*<th>Id meczu</th>*@
                    <th>Bohater</th>
                    <th>Rezultat</th>
                    <th>Z/Ś/A</th>
                    <th>CS</th>
                    <th>Zdobyte złoto</th>
                    <th>Czas gry</th>
                    <th>Zadane obrażenia</th>
                    <th>Strona</th>
                    @*<th>Bohater</th>*@
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var game in pro.GryIdMeczus)
                {
                    <tr>
                        @*<td>@game.IdMeczu</td>*@
                        @if (game.BohaterowieNazwa != null)
                        {
                            <td>
                                <img src="@getPlayed(game.BohaterowieNazwa)" width="96px" height="96px" />
                            </td>
                        }
                        else
                        {
                            <td></td>
                        }
                        <td valign="middle">@game.Rezultat</td>
                        <td valign="middle">@game.Zabojstwa/@game.Smierci/@game.Asysty</td>
                        <td valign="middle">@game.CreepScore</td>
                        <td valign="middle">@game.ZdobyteZloto</td>
                        <td valign="middle">@game.CzasGry</td>
                        <td valign="middle">@game.ZadaneObrazenia</td>
                        <td valign="middle">@game.Strona</td>
                        @*<td>@game.BohaterowieNazwa</td>*@
                        <td valign="middle">
                            <button class="btn btn-primary oi oi-info" @onclick="(() => ShowGame(game.IdMeczu))"></button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}


@code {
    [Parameter]
    public string nick { get; set; }
    GraczeZawodowi pro = new();
    private string? wr { get; set; }
    private string? avgKda { get; set; }

    protected override void OnInitialized()
    {
        pro = proService.GetByNick(nick);
        wr = proService.GetWr(nick, 'T');
        avgKda = proService.GetAvgKda(nick, 'T');
        base.OnInitialized();
    }

    private void ShowEditPro(string nick)
    {
        navManager.NavigateTo($"/graczezawodowi/{nick}/edytuj");
    }

    private void ShowGame(long id)
    {
        navManager.NavigateTo($"/gry/{id}/{nick}/pro");
    }

    private void ShowAddGame()
    {
        navManager.NavigateTo($"/gry/dodaj/{nick}/pro");
    }

    private string getPlayed(string name)
    {
        Bohaterowie champion = new();
        champion = bohaterowieService.GetByName(name);
        return champion.Ikona;
    }
}
