@page "/graczezawodowi/{nick}"
@using Services
@using Models
@inject IGraczeZawodowiService proService
@inject NavigationManager navManager

<PageTitle>@pro.Nick</PageTitle>
<h3>@pro.ImieINazwisko - @pro.Nick <button class="btn btn-primary oi oi-pencil" @onclick="(() => ShowEditPro(nick))"></button></h3>


<div class="table" >
    <table class="table">
        <tbody>
            <tr>
                <td align="center" valign="middle">
                    <img src="@pro.Zdjecie">
                </td>
                <td>
                    <table class="table table-striped">
                        <thead>
                        </thead>
                        <tbody>
                            <tr>
                                <td><strong>Imię i nazwisko</strong></td>
                                <td>@pro.ImieINazwisko</td>
                            </tr>
                            <tr>
                                <td><strong>Nick</strong></td>
                                <td>@pro.Nick</td>
                            </tr>
                            <tr>
                                <td><strong>Kraj pochodzenia</strong></td>
                                <td>@pro.Kraj</td>
                            </tr>
                            <tr>
                                <td><strong>Data urodzenia</strong></td>
                                <td>@pro.DataUrodzin.ToShortDateString()</td>
                            </tr>
                            <tr>
                                <td><strong>Rezydencja</strong></td>
                                <td>@pro.Rezydencja</td>
                            </tr>
                            <tr>
                                <td><strong>Drużyna</strong></td>
                                <td>@pro.IdDruzyny</td>
                            </tr>
                            <tr>
                                <td><strong>Rola</strong></td>
                                <td>@pro.Rola</td>
                            </tr>
                            <tr>
                                <td><strong>Ulubiona postać</strong></td>
                                <td>@pro.UlubionyBohater</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    
</div>


<br />
<h5><strong>Gry:</strong></h5>

<div class="table">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id meczu</th>
                <th>Rezultat</th>
                <th>Zabójstwa/Śmierci/Asysty</th>
                <th>CS</th>
                <th>Zdobyte złoto</th>
                <th>Czas gry</th>
                <th>Zadane obrażenia</th>
                <th>Strona</th>
                <th>Bohater</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var game in pro.GryIdMeczus)
            {

                <tr>
                    <td>@game.IdMeczu</td>
                    <td>@game.Rezultat</td>
                    <td>@game.Zabojstwa/@game.Smierci/@game.Asysty</td>
                    <td>@game.CreepScore</td>
                    <td>@game.ZdobyteZloto</td>
                    <td>@game.CzasGry</td>
                    <td>@game.ZadaneObrazenia</td>
                    <td>@game.Strona</td>
                    <td>@game.BohaterowieNazwa</td>
                    <td>
                        <button class="btn btn-primary oi oi-info" @onclick="(() => ShowGame(game.IdMeczu))"></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    [Parameter]
    public string nick { get; set; }
    GraczeZawodowi pro = new();
    private string? wr { get; set; }
    private string? avgKda { get; set; }

    protected override void OnInitialized()
    {
        pro = proService.GetByNick(nick);
        wr = proService.GetWr(nick, 'T');
        avgKda = proService.GetAvgKda(nick, 'T');
        base.OnInitialized();
    }

    private void ShowEditPro(string nick)
    {
        navManager.NavigateTo($"/graczezawodowi/{nick}/edytuj");
    }

    private void ShowGame(long id)
    {
        navManager.NavigateTo($"/gry/{id}");
    }
}
